<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="drone.artkp" version="0.3.0">
	<requires>
		<import plugin-id="drone.core"/>
	</requires>

	<runtime>
		<library id="artkp" type="code" path="build/">
			<export prefix="*"/>
		</library>
		<library id="data" type="resources" path="data/" />
		<library id="nativelib" type="resources" path="jni/" />
	</runtime>
		
<!--	<extension id="frei0r-native-library" plugin-id="drone.core" point-id="native-library">
		<parameter id="file" value="
	</extension>
	-->
	
</plugin>