# C++ objects and libs
*.so
*.so.?
*.so.?.?
*.so.?.?.?
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Make
debug/
release/

# QT 
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

# Executable
/drone
/lib

# Eclipse
.project
.cproject

# Drone schemas
*.drn
