TEMPLATE=lib
include (../../../../../../config.pro)

SOURCES+=PLUGINNAME.c
INCLUDEPATH+=../../../spec/

#linux
unix:!macx:TARGET=../../../../../../gears/frei0r/PLUGINNAME

#osx
macx:TARGET=../../../../../../drone.app/Contents/PlugIns/frei0r/PLUGINNAME
