<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="drone.core" version="0.3.0" class="drone.core.CorePlugin">
	<runtime>
		<library id="core" path="build/" type="code">
			<export prefix="*"/>
		</library>
	</runtime>

	<extension-point id="DockedExtension">
		<parameter-def id="class"/>
		<parameter-def id="label"/>
		<parameter-def id="description" multiplicity="none-or-one"/>
	</extension-point>
	
</plugin>