<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="drone.core" version="0.3.0" class="drone.core.CorePlugin">
	<runtime>
		<library id="core" path="build/" type="code">
			<export prefix="*"/>
		</library>
		<library id="qtjambi" path="../../lib/qtjambi.jar" type="code"/>		
	</runtime>
</plugin>