<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="drone.frei0r" version="0.3.0">
	<requires>
		<import plugin-id="drone.core"/>
	</requires>

	<runtime>
		<library id="frei0r" path="build/" type="code">
			<export prefix="*"/>
		</library>
		<library id="data" path="data/" type="resources"/>
	</runtime>
	
	<extension plugin-id="drone.core" point-id="entity-library" id="frei0r">
		<parameter id="file" value="frei0r.xml"/>
		<parameter id="label" value="Frei0r processing actors"/>
		<parameter id="description" value="Frei0r processing actors"/>
	</extension>
	
</plugin>