<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="drone.librarybrowser" version="0.3.0">
	<requires>
		<import plugin-id="drone.core"/>
	</requires>

	<runtime>
		<library id="librarybrowser" path="build/" type="code">
			<export prefix="*"/>
		</library>
	</runtime>

	<extension plugin-id="drone.core" point-id="DockedExtension" id="libraryBrowser">
		<parameter id="class" value="drone.librarybrowser.LibraryBrowserDockedExtension"/>
		<parameter id="label" value="Library Browser"/>
		<parameter id="description" value="Tree browser for availabe actors"/>
	</extension>
	
</plugin>